<div class="account">
  <div class="modal-body" id="create-new-password" tabindex="-1" aria-labelledby="new-projectLabel" aria-modal="true"
  role="dialog">
    <div class="row mt-5 mb-6">
      <div class="col-8 offset-2">
        <h2 class="fs-24 fw-500 text-c-1 mb-7 ">
          {{'new-password' | translate }}
        </h2>
        <p class="fs-18 text-c-1 pb-5">{{'password-role' | translate}}</p>

    <div class="mb-3 show-password">
        <label  class="form-label text-c-1">{{'Password' | translate}}</label>
        <input  [type]="fieldTextType ? 'text' : 'password'" class="form-control fs-16" placeholder="Enter password">
        <i href="#" class="fs-12 fa"  [ngClass]="{
          'fa-eye-slash': !fieldTextType,
          'fa-eye': fieldTextType
        }"
        (click)="toggleFieldTextType()"></i>
    </div>
    <div class="mb-1 show-password">
      <label  class="form-label text-c-1">{{'ConfirmPassword' | translate}}</label>
      <input  [type]="fieldTextType ? 'text' : 'password'" class="form-control fs-16" placeholder="Enter password">
      <i href="#" class="fs-12 fa"  [ngClass]="{
        'fa-eye-slash': !fieldTextType,
        'fa-eye': fieldTextType
      }"
      (click)="toggleFieldTextType()"></i>
  </div>
  </div>
  </div>
  </div>
  <div class="modal-footer d-block w-65 fs-18">
    <ng-container>
        <button type="submit" class="btn-primary btn btn-block fs-16" (click)="save()">
          {{'update-password' | translate }}
        </button>
    </ng-container>
</div>
</div>



