.active{
  background-color: aqua;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

.not-active{
  background-color: #ddd;
  padding: 7px 12px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}
