<div class="workspace-nav mt-4">
  <div class="space-nav bg-white p-4 radius-8">
    <div class="user-profile">
      <div class="profile-pic">
          <img src="https://www.westend61.de/images/0001011768pw/portrait-of-serious-young-man-at-brick-wall-AWF00145.jpg" alt="">
      </div>
      <div class="user-info">
        <div class="row">
          <div class="col-12">
            <div class="rating">
              <ngb-rating [(rate)]="currentRate" aria-valuemin="0" aria-valuemax="5" _ngcontent-bxx-c162 class="fs-32"></ngb-rating>
            </div>
          </div>
          <div class="col-12">
            <span class="fs-32 fw-500">Mohamed Samir</span>
            <p class="fs-16 fw-500 text-c-4 mb-3">Graphic Designer</p>
            <p class="fs-16 fw-500 text-c-4 mb-3">Mohamedsamir@gmail.com</p>
          </div>
          <div class="col-12">
            <!-- <div class="btn btn-primary">Chat</div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

