<div class="disc-files-section bg-white p-4 radius-8 mt-4">
  <div class="row discription">
      <div class="col-12">
          <h4 class="fs-16 fw-500 text-c-4 mb-3">Description</h4>
      </div>
      <div class="col-xl-10 col-12">
          <p class="fs-16 text-c-1 fw-400 mb-0" contenteditable="true">
              {{'ProjectDesc' | translate }}
          </p>
      </div>
  </div>

  <div class="files mt-4">
    <div class="row">
      <div class="col-12 d-flex align-items-center justify-content-between mb-3">
        <h4 class="fs-16 fw-500 text-c-4 ">{{'Files' | translate }}</h4>
        <div class="d-flex align-items-center">
            <p class="mb-0 me-3 fs-14 text-c-3"><span class="fs-16 text-c-1">20</span> {{'File' | translate }}</p>
            <a routerLink="/view-all-files" class="fs-16 fw-500 text-c-link text-decoration-none">{{'ViewAll' | translate }}</a>
        </div>
      </div>
      <div class="col-lg-12">
        <ngx-dropzone (change)="onSelect($event)" #fileInput>
          <ngx-dropzone-label>
            <div class="conent d-block">
              <p>
                <i class="fas fa-cloud-upload-alt-18 fs-18"></i>
              </p>
              <p>{{'Drag-DropHere' | translate }}</p>
              {{' or' | translate}}
              <p class="fs-16">{{'BrowseFiles' | translate }}</p>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of file" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
  </div>
</div>
