<div class="meetings-section mt-4 p-4 bg-white radius-8">
  <div class="d-flex align-items-center justify-content-between">
    <span class="fs-18 fw-500 text-c-4 mb-4">{{'minuteOfMeeting' | translate }}</span>
    <!-- <span class=" btn btn-primary d-flex align-items-center" routerLink="/minutes-meeting">Minutes of meeting</span> -->
  </div>
  <div class="table-container">
      <div class="custom-table">
          <div class="table-head">
              <div class="cell">
                  {{'ActionItemTitle' | translate }}
              </div>
              <div class="cell">
                  {{'ActionItemType' | translate}}
              </div>
              <div class="cell">
                  {{'AssignedTo' | translate }}
              </div>
              <div class="cell">
                {{'ProgressStatus' | translate }}
              </div>
          </div>
          <div *ngFor="let minuteOfMeeting of minutesOfMeeting;" class="table-row">
              <div class="cell">
                  {{minuteOfMeeting.actionTitle}}
              </div>
              <div class="cell">
                  {{MinuteOfMeetingLevel[minuteOfMeeting.actionLevel] | translate }}
              </div>
              <div class="cell assignee">
                <span *ngFor="let member of minuteOfMeeting.members"><img [src]="member.profileImage" alt=""></span>
              </div>
              <div class="cell">
                  {{minuteOfMeeting.progressPercentage}}
              </div>
              <div class="cell">
                <a  class="d-flex align-items-center fs-16 fw-400 text-c-2 text-decoration-none">
                  <div ngbDropdown class="d-inline-block ms-32 ">
                    <span  id="project-action" ngbDropdownToggle>
                      <span class="icon-dots-menu fs-24 fw-600 text-c-2 text-decoration-none"></span>
                    </span>
                    <div ngbDropdownMenu aria-labelledby="project-action">
                      <button ngbDropdownItem>
                        <div class="dropdown-item d-flex align-items-center" (click)="updateMinuteOfMeeting(minuteOfMeeting.id, minuteOfMeeting.actionLevel, minuteOfMeeting.workspaceId, minuteOfMeeting.projectId, minuteOfMeeting.taskId, minuteOfMeeting.parentTaskId, minuteOfMeeting.description)">
                          <span class="icon-pen-edit fs-20 me-12"></span>
                          <span class="text-c-1" >{{'UpdateMinuteOfMeeting' | translate}}</span>
                        </div>
                      </button>
                      <button ngbDropdownItem>
                        <div class="dropdown-item  d-flex align-items-center" (click)="deleteMom(minuteOfMeeting.id)">
                          <span class="icon-trash fs-20 me-12"></span>
                          <a class="text-c-1">{{'DeleteMinuteOfMeeting' | translate}} </a>
                            <!-- <button type="submit" class="btn btn-danger btn-elevate" (click)="Delete()" [hidden]="!showDelete">
                              Delete
                          </button> -->
                        </div>
                      </button>
                    </div>
                  </div>
                </a>
              </div>
          </div>
      </div>
  </div>
</div>
