<footer class="py-4 bg-gray-5">
  <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col">
              <p  class="copyrights mb-0 fs-18 text-c-1">
                  &copy; 2021 Mahmma.com
              </p>
          </div>
          <div class="col-auto">
              <a href="https://www.facebook.com/mahammaapp/" target="_blank" class="ms-12 text-decoration-none" title="{{'fb' | translate}}">
                  <img src="assets/images/landing/facebook_icon-circle.svg" alt="">
              </a>
              <a href="https://twitter.com/mahammaapp?t=S0nxeNhVFuWcEhnGCi7Zhw&s=08" target="_blank" class="ms-12 text-decoration-none" title="{{'twitter' | translate}}">
                  <img src="assets/images/landing/twitter_icon-circle.svg" alt="">
              </a>
              <a href="https://instagram.com/mahammaapp?utm_medium=copy_link"  target="_blank" class="ms-12 text-decoration-none" title="{{'instagram' | translate}}">
                  <img src="assets/images/landing/instagram_icon-circle.svg" alt="">
              </a>
              <!-- <a href="#" class="ms-12 text-decoration-none">
                  <img src="assets/images/landing/linkedin_icon-circle.svg" alt="">
              </a>
              <a href="#" class="ms-12 text-decoration-none">
                  <img src="assets/images/landing/youtube_icon-circle.svg" alt="">
              </a> -->
          </div>
      </div>
  </div>
</footer>
