<div class="disc-files-section bg-white p-4 radius-8 mt-4">
  <div class="row discription">
      <div class="col-12">
          <h4 class="fs-16 fw-500 text-c-4 mb-3">{{'Bio' | translate}}</h4>
      </div>
      <div class="col-xl-10 col-12">
          <p class="fs-16 text-c-1 fw-400 mb-0">
             {{'ProjectDesc'| translate}}
          </p>
      </div>
      <div class="col-12 mt-4">
        <h4 class="fs-16 fw-500 text-c-4 mb-3">{{'Skills' | translate }}</h4>
      </div>
      <div class="col-xl-10 col-12">
          <p class="fs-16 text-c-1 fw-400 mb-0">
            {{'ProjectDesc'| translate}}
          </p>
      </div>
  </div>
</div>
