// margin
.ms-12{
  margin-left: 12px;
}
.ms-32{
  margin-left: 32px;
}

.ms-127{
margin-left: 127px;
}

.mt-32{
  margin-top: 32px;
}

.mt-56{
margin-top: 56px;
}
.mt-88{
margin-top: 88px;
}
.mt-62{
margin-top: 62px;
}
.mt-20{
margin-top: 20px;
}
.me-12{
  margin-right: 12px;
}
.mt-7{
margin-top: 7px;
}
.mt-16{
margin-top: 16px;
}
.mt-18{
margin-top: 18px;
}
.mt-19{
margin-top: 19px;
}

.mb-0{
margin-bottom: 0px;
}
.mb-5{
margin-bottom: 5px;
}
.mb-9{
margin-bottom: 9px;
}
.mb-12{
  margin-bottom: 12px;
}
.mb-16{
margin-bottom: 16px;
}
.mb-24{
margin-bottom: 24px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-42{
  margin-bottom: 42px;
}
.mb-63{
margin-bottom: 63px;
}
.mb-72{
  margin-bottom: 72px;
}
.mb-102{
  margin-bottom: 102px;
}
.mb--33{
margin-bottom: -33px;
}
.mb16{
margin-bottom: -16px;
}
.mt9{
margin-top: -9px;
}
.mt-12{
margin-top: 12px;
}
.mt-24{
margin-top: 24px;
}
.mt-27{
margin-top: 27px;
}
.mt-40{
margin-top: 40px;
}
.mt-48{
margin-top: 48px;
}
.mt-70{
margin-top: 70px;
}
.mt-102{
margin-top: 102px;
}
.mt10{
margin-top: -10px;
}
.mt-117{
margin-top: 117px;
}
.mt-120{
margin-top: 120px;
}
.mt-127{
margin-top: 127px;
}
.mt-34{
margin-top: 34px;
}
.mb-35{
margin-bottom: 35px;
}
.mt-83{
margin-top: 83px;
}
.mt-110{
margin-top: 110px;
}
.mt23{
margin-top: -23px;
}

// padding
.pa-4{
padding: 4px;
}
.py-12{
  padding-top: 12px;
  padding-bottom: 12px;
}
.pt-16{
padding-top: 16px;
}
.pt-33{
padding-top: 33px;
}
.pt-38{
padding-top: 38px;
}
.py-20{
padding-top: 20px;
padding-bottom: 20px;
}
.py-32{
  padding-top: 32px;
  padding-bottom: 32px;
}
.ps-88{
  padding-left: 88px;
}
.pe-88{
  padding-right: 88px;
}
.pt-92{
padding-top: 92px;
}
.pt-130{
padding-top: 130px;
}

.p-12{
padding-top: 12px 0px;
}
.p12{
  padding: 12px;
}
.m10{
margin-top: -10px;
}
.p-16{
padding: 16px;
}
.p-18{
padding-top: 18px;
padding-bottom: 18px;
}
.p-24{
padding: 24px;
}
.p16{
padding: 0px 24px 16px 24px;
}
.p24{
padding: 24px 24px 0px 24px;
}
.pl-24{
padding-left: 24px;
}
.pl-21{
padding-left: 21px;
}
.pl-33{
padding-left: 33px;
}
.pl-95{
padding-left: 95px;
}

.px-6 {
padding-right: 5rem !important;
padding-left: 6rem !important;
}

.pt-20{
padding-top: 20px;
}

.pt-21{
padding-top: 21px;
}
.pt-24{
padding-top: 24px;
}

.pt-16{
padding-top: 16px;
}

.pt-12{
padding-top: 12px;
}

.pt-24{
padding-top: 24px;
}
.pb-16{
padding-bottom: 16px;
}

.pb-13{
padding-bottom: 13px;
}

.pb-10{
padding-bottom: 10px;
}
.pb-2{
padding-bottom: 2px;
}
.mt-8{
margin-top: 8px;
}

.mr-12{
margin-right: 12px;
}

.mr-5{
margin-right: 5px;
}
.mr-8{
margin-right: 8px;
}
.mr-39{
margin-right: 39px;
}
.m-select{
  margin: 10px 5px;
}
.pl-22{
padding-left: 22px;
}
// border-radius
.radius-4{
  border-radius: 4px;
}
.radius-8{
  border-radius: 8px;
}
.raduis-10{
  border-radius: 10px;
}
.radius-12{
border-radius: 12px;
}
.radius-16{
border-radius: 16px;
}
//text-align
.center{
text-align: center;
}
//
.none-link{
text-decoration: none;
}

//@at
.w-65{
width: 64% !important;
}
.w-62{
width: 62% !important
}
.w-140{
width: 140px;
}
.w-92{
width: 92% !important;
}
//@at-root
.flow-x{
overflow: initial !important;
}
.pl-0{
padding-left: 0 !important;
}
.pr-0{
padding-right: 0px;
}
.pr-8{
padding-right: 8px;
}
.pr-28{
padding-right: 28px;
}
.b-b{
border-bottom: 1px solid $color-gray-5
}
.pt-b-5{
  padding-top: 5px;
  padding-bottom: 5px;
}
.pr-l-21{
  padding-left: 21px;
  padding-right: 21;
}
.flow-scroll{
overflow-x: scroll;
}
.folw-hidden{
overflow: hidden;
}
.task-status{
position: relative;
left: 42px;
}
.pr-100{
padding-right: 100px;
}
.pt-0{
padding-top: 0px;
}
.pt-18{
padding-top: 18px;
}
//height
.hv-91{
max-height: 91vh;
}
.hv-50{
max-height: 50vh;
}
.flow-auto{
overflow: auto;
}
.m-0{
margin: 0 !important;
}
.m-8{
margin: 0px 8px;
}
.w-226{
width: 226 !important;
}
.fixed{
position: fixed;
}
.w-178{
width: 178px;
}
.p-0{
padding:0;
}
.p-12-16{
  padding: 12px 16px;
}
.m-24{
margin: 24px 0px;
}
.flow-hidden{
overflow: hidden !important;
}
.h-auto{
height: auto;
}
.line-initial{
line-height: initial;
}
