<section class="features">
  <div class="container-fluid">
      <div class="row title mb-3">
          <div class="col-6">
              <span class="fs-32 fw-600 text-c-title mb-3 line-36">
                {{'feature-landing' | translate }}
              </span>
              <p class="fs-20 fw-400 text-c-3 mb-0 py-3 line-36">
                {{'feature-title' | translate }}
              </p>
          </div>
      </div>
      <div class="row left-img plan">
          <div class="col-5 offset-8">
              <span class="fs-24 fw-400 text-c-link mb-3">{{'feature-plan' | translate }}</span>
              <p class="py-12 fs-32 ">
                <span class=" fw-500 text-c-2 mb-3 ">
                  {{'feature-plan-content1' | translate }}
                </span>
              </p>
              <p class="fs-16 fw-400 text-c-3 mb-0 line-24">
                {{'feature-plan-content2' | translate }}
              </p>
          </div>
      </div>
      <div class="row  right-img connected mt-102">
        <div class="col-md-5  col-6">
              <span class="fs-24 fw-400 text-c-link mb-3"> {{'feature-connect1' | translate }}</span>
              <br>
              <span class="fs-32 fw-500 text-c-2 mb-3">
                  {{'feature-connect2' | translate }}
              </span>
              <p class="fs-16 fw-400 text-c-3 mt-3 mb-0 line-24">
                {{'feature-connect3' | translate }}
              </p>
            </div>
          </div>
          <!-- <div class="row mb-5 mt-102">
            <div class="col-5 pt-130">
              <span class="fs-24 fw-400 text-c-link mb-3"> {{'feature-connect1' | translate }}</span>
              <br>
              <span class="fs-32 fw-500 text-c-2 mb-3">
                  {{'feature-connect2' | translate }}
              </span>
              <p class="fs-16 fw-400 text-c-3 mt-3 mb-0 line-24">
                {{'feature-connect3' | translate }}
              </p>
            </div>
            <div class="col-6 connected-right-img">
              <img src="../../../../assets/images/landing/img-6.png" alt="">
            </div>
          </div> -->
    <div class="row mb-102 left-img report mt-102">
      <div class="col-md-5  col-5 offset-8">
          <span class="fs-24 fw-400 text-c-link mb-3">
            {{'feature-report' | translate }}
          </span><br>
          <span class="fs-32 fw-500 text-c-2 mb-3" >
            {{'feature-report-header' | translate }}
          </span>
          <p class="fs-16 fw-400 text-c-3 mt-3 line-24">
            {{'feature-report-content' | translate }}
          </p>
      </div>
    </div>
    <div class="row mt-127">
        <div class="col-8 m-auto text-center">
            <span class="fs-56 fw-500 text-c-1">
              {{'feature-things' | translate }}
            </span><br>
            <p class="fs-24 fw-400 text-c-2 mt-4 line-36 px-6">
              {{'feature-things-content' | translate }}
            </p><br>
            <a href="#" class="btn btn-primary mt-34" (click)="openCreateAccount()" >
              {{'get-start' | translate }}
             </a>
        </div>
    </div>
  </div>
</section>

