<!-- <app-notification-header></app-notification-header>
<app-notification-schedual></app-notification-schedual> -->

<app-side-nav></app-side-nav>
<div class="page-wrapper pb-4">
  <div class="container-fluid px-4">
      <div class="row">
          <div class="col-lg-3 col-4">
            <app-setting-list></app-setting-list>
          </div>
          <div class="col-lg-9 col-8">
            <app-notification-header></app-notification-header>
            <app-notification-schedual></app-notification-schedual>
        </div>
      </div>
  </div>
</div>
