<div class="row">
  <div class="col-lg-4">
    <mat-card class="example-card">
      <div class="haeder bg-gray-5">
        <mat-card-subtitle>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-subtitle>
        <span class="py-3 px-3 fs-16 fw-500 c-primary ">In Active</span>
      </div>
      <mat-card-content>
        <div class="row mt-2 py-3">
          <div class="col-6  d-flex justify-content-first c-gray-1 fw-500 fs-16">Task Name</div>
          <div class="col-6 d-flex justify-content-end">
            <span class="icon-flag px-2 fs-22 danger"></span>
            <span class="icon-dots-menu fs-20 "></span>
          </div>
        </div>
        <p class="py-2 fs-16 fw-400 c-primary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <div class="members">
          <div class="widget-section bg-white p-4 radius-8 ">
            <div class="row">
              <div class="col-lg-6  d-flex justify-content-first">
                  <div class="members d-flex pr-3">
                      <a href="#">
                          <img src="../../../../assets/images/profile-pic.png" alt="">
                      </a>
                      <a href="#">
                        <img src="../../../../assets/images/profile-pic.png" alt="">
                      </a>
                  </div>
                  <div class="header  d-flex  justify-content-between text-c-4">
                    <div class="d-flex align-items-center">
                        <span class="icon-tree-connect fs-24  me-2">
                          <b class="fs-14">2</b>
                        </span>
                    </div>
                  </div>
              </div>
              <div class="col-lg-6 d-flex justify-content-end c-gray-1 fw-400">
                  Aug 1
              </div>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-lg-4">
    <mat-card class="example-card">
      <div class="haeder bg-gray-5">
        <mat-card-subtitle>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-subtitle>
        <span class="py-3 px-3 fs-16 fw-500 c-primary ">status</span>
      </div>
      <mat-card-content>
        <div class="row mt-2 py-3">
          <div class="col-6  d-flex justify-content-first c-gray-1 fw-500 fs-16">Task Name</div>
          <div class="col-6 d-flex justify-content-end">
            <span class="icon-flag px-2 fs-22 danger"></span>
            <span class="icon-dots-menu fs-20 "></span>
          </div>
        </div>
        <p class="py-2 fs-16 fw-400 c-primary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <div class="members">
          <div class="widget-section bg-white p-4 radius-8 ">
            <div class="row">
              <div class="col-lg-6  d-flex justify-content-first">
                  <div class="members d-flex pr-3">
                      <a href="#">
                          <img src="../../../../assets/images/profile-pic.png" alt="">
                      </a>
                      <a href="#">
                        <img src="../../../../assets/images/profile-pic.png" alt="">
                      </a>
                  </div>
                  <div class="header  d-flex  justify-content-between text-c-4">
                    <div class="d-flex align-items-center">
                        <span class="icon-tree-connect fs-24  me-2">
                          <b class="fs-14">2</b>
                        </span>
                    </div>
                  </div>
              </div>
              <div class="col-lg-6 d-flex justify-content-end c-gray-1 fw-400">
                  Aug 1
              </div>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-lg-4">
    <mat-card class="example-card">
      <div class="haeder bg-gray-5">
        <mat-card-subtitle>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-subtitle>
        <span class="py-3 px-3 fs-16 fw-500 c-primary ">status</span>
      </div>
      <mat-card-content>
        <div class="row mt-2 py-3">
          <div class="col-6  d-flex justify-content-first c-gray-1 fw-500 fs-16">Task Name</div>
          <div class="col-6 d-flex justify-content-end">
            <span class="icon-flag px-2 fs-22 danger"></span>
            <span class="icon-dots-menu fs-20 "></span>
          </div>
        </div>
        <p class="py-2 fs-16 fw-400 c-primary">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <div class="members">
          <div class="widget-section bg-white p-4 radius-8 ">
            <div class="row">
              <div class="col-lg-6  d-flex justify-content-first">
                  <div class="members d-flex pr-3">
                      <a href="#">
                          <img src="../../../../assets/images/profile-pic.png" alt="">
                      </a>
                      <a href="#">
                        <img src="../../../../assets/images/profile-pic.png" alt="">
                      </a>
                  </div>
                  <div class="header  d-flex  justify-content-between text-c-4">
                    <div class="d-flex align-items-center">
                        <span class="icon-tree-connect fs-24  me-2">
                          <b class="fs-14">2</b>
                        </span>
                    </div>
                  </div>
              </div>
              <div class="col-lg-6 d-flex justify-content-end c-gray-1 fw-400">
                  Aug 1
              </div>
            </div>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
