<div class="header mt-4 d-flex align-items-center justify-content-between">
  <h3 class="fs-32 fw-400 text-c-1 mb-0" contenteditable="true">{{'Permissions' | translate }}</h3>
  <div class="d-flex align-items-center">
      <!-- <a href="#" class="d-flex align-items-center ms-32  fs-16 fw-400 text-c-2 text-decoration-none ">
          <span class="icon-user-group fs-24 d-inline-block me-2"></span>
          <span class="line-n">Meeting</span>
      </a> -->
      <div class="col-lg-12  col-6">
        <div class="permission-search">
            <input type="text" class="form-control bg-white" formControlName="name" placeholder="{{'search' | translate}}">
            <span class="icon-search-loupe text-c-4 fs-18"></span>
        </div>
    </div>
  </div>
</div>
