<section class="trusted bg-gray-6 mt-110">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
              <span class="fs-32 fw-800 text-c-title mb-3">{{'trust-by' | translate}}</span>
          </div>
      </div>
      <div class="row justify-content-around mt-5">
          <div class="col-auto">
              <img src="assets/images/landing/jeddah-university-logo.png" alt="">
          </div>
          <div class="col-auto">
              <img src="assets/images/landing/riyadh-airports-logo.png" alt="">
          </div>
          <div class="col-auto">
              <img src="assets/images/landing/watania-logo.png" alt="">
          </div>
          <div class="col-auto">
              <img src="assets/images/landing/modon-logo.png" alt="">
          </div>
      </div>
  </div>
</section>
