<div class="disc-files-section bg-white p-4 radius-8 mt-4 ">
  <div class="discription">
    <div class="general-setting">
      <div class="row">
        <div class="col-12">
          <h4 class="fs-16 fw-500 text-c-4 mb-3">{{'ProfileSetting' | translate }}</h4>
        </div>
        <div class="col-xl-10 col-12">
          <div class="fs-16 text-c-1 fw-400 mb-0 user-pic">
            <img
              src="https://www.westend61.de/images/0001011768pw/portrait-of-serious-young-man-at-brick-wall-AWF00145.jpg"
              alt="">
            <i></i>
          </div>
        </div>
      </div>
      <div class=" mt-5">
        <div class="row mb-3">
          <div class="col-lg-5">
            <label class="form-label fs-16 fw-600 text-c-4 mb-3">{{'FullName' | translate}}</label>
            <input type="text" class="form-control fs-16" placeholder="Ex.Name@company.com">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-5">
            <label class="form-label text-c-1 secondary fs-14">{{'email' | translate }}</label>
            <input type="email" class="form-control fs-16" placeholder="Ex.Name@company.com">
          </div>
          <div class="col-lg-5">
            <label class="form-label text-c-1 secondary fs-14">{{'title' | translate}}</label>
            <input type="text" class="form-control fs-16" placeholder="Ex.Name@company.com">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-5">
            <div class="show-password">
              <label class="form-label text-c-1 secondary fs-14">{{'Password' | translate}}</label>
              <input type="password" class="form-control fs-16" placeholder="Enter password">
            </div>
          </div>
          <div class="col-lg-5">
            <div class="show-password">
              <label class="form-label text-c-1 secondary fs-14">{{'ConfirmPassword' | translate }}</label>
              <input type="password" class="form-control fs-16" placeholder="Enter password">
            </div>
          </div>
          <div class="col-lg-2">
            <span class="cta-primary pt-5"></span>
          </div>
        </div>
        <div class="skills mt-5">
          <div class="row ">
            <div class="col-lg-12">
              <h4 class="fs-16 fw-500 text-c-4 mb-3">{{'Skills' | translate }}</h4>
            </div>
            <div class="col-lg-3">
              <span class="p-2 bg-gray-5">User Reasearch</span>
            </div>
            <div class="col-lg-3">
              <span class="p-2 bg-gray-5">User Flow</span>
            </div>
            <div class="col-lg-3">
              <span class="p-2 bg-gray-5">Design</span>
            </div>
            <div class="col-lg-3">
              <span class="p-2 bg-gray-5">Prototyping</span>
            </div>
            <div class="col-lg-3 fs-14">
              <button class="btn btn-primary">+{{'AddNew' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
