<div class="account">
  <form novalidate class="form-login" [formGroup]="forgetPasswordForm" (keydown.enter)="$event.preventDefault()"
    (keydown.enter)="save()">
    <div class="modal-body" id="create-new-password" tabindex="-1" aria-labelledby="new-projectLabel" aria-modal="true"
      role="dialog">
      <div class="row mt-120">
        <div class="col-12">
          <div class="offset-2">
            <span class="fs-24 fw-500 text-c-1">
              {{'password-recovery' | translate}}
            </span>
            <div class="fs-20 text-c-1 mt-16">{{'password-recovery-title' | translate}}</div>
          </div>
        </div>
      </div>
      <div class="row mt-117">
        <div class="col-lg-9">
          <div class="">
            <div class="form-group forget-password-input">
              <label for="exampleFormControlInput1"  class="fs-16">{{'email' | translate }}</label>
              <input type="email" formControlName="email" class="form-control mt-8" id="exampleFormControlInput1"
                placeholder="name@example.com">
            </div>
          </div>
        </div> 
        <div class="modal-footer d-block w-92" style="margin-left: 44px;">
          <ng-container>
            <button type="submit" (click)="save()" class="btn-primary btn btn-block fs-16">
              {{'send-mail' | translate }}
            </button>
          </ng-container>
        </div>  
      </div>
    </div>
  </form>
</div>